/*! == MEDIA QUERIES == */

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {
  /*---GLOBALS---*/

  /*---HEADER---*/
  .container {
    &.cols-lg-6-12-6 {
      > .col:nth-of-type(3n - 2) {
        grid-column: span 6;
      }
      > .col:nth-of-type(3n -1) {
        grid-column: span 12;
      }
      > .col:nth-of-type(3n) {
        grid-column: span 6;
      }
    }
  }

  /*---CONTENT---*/

  /*---FOOTER---*/
} /*---end large mq---*/

/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
  /*---GLOBALS---*/

  .hide-md {
    display: none !important;
  }

  .container {
    &.cols-md-6-18 {
      > .col:nth-of-type(3n - 2) {
        grid-column: span 6;
      }
      > .col:nth-of-type(3n -1) {
        grid-column: span 18;
      }
    }
  }

  /*---HEADER---*/

  /*---CONTENT---*/
  .hero {
    .container {
      h1 {
        font-size: $fontSize * 1.6;
      }
      h3 {
        font-size: $fontSize * 1.8;
      }
    }
  }

  .overview-block-container {
    margin-bottom: 2rem;
  }
  /*---FOOTER---*/
} /*---end medium mq---*/

/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {
  /*---GLOBALS---*/

  .boxed-content {
    padding: 2rem 0;
  }

  .hide-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }

  .container {
    &.cols-sm > .col {
      grid-column: span 24 !important;
    }
    &.cols-sm-offset2-20 {
      > .col {
        grid-column-start: 3;
        grid-column-end: 23;
      }
    }
    &.no-sm-gutter {
      grid-gap: 0;
      > .col {
        padding: 1rem;
      }
    }
  }

  .text-center-sm {
    text-align: center;
  }

  blockquote {
    margin-top: 0;
    margin-bottom: 4rem;
    line-height: $fontSize * 1.2;
    &:before,
    &:after {
      font-size: 3rem;
    }
    &:before {
      top: 0rem;
      left: -2rem;
    }
    &:after {
      bottom: 2rem;
      right: -2rem;
    }
  }

  /*---HEADER---*/
  header {
    transition: $slowEffect;
    .mobileMenu {
      align-items: center;
      position: absolute;
      display: flex;
      top: 0rem;
      right: 1rem;
      height: 5rem;
      padding: 1rem;
      font-size: $fontSize * 2;
      cursor: pointer;
      color: white;
    }
    a {
      color: $brand-dark-grey;
    }
    #logo {
      height: 5rem;
    }
    nav {
      padding: 0;
      display: none;
      border-right: none;
      background-color: white;
      .mainMenu {
        ul {
          display: block;
          width: 100%;
          li {
            display: block;
            a {
              border-bottom: 1px solid $brand-mid-grey;
              width: 100%;
              padding: 2rem;
              font-size: $fontSize * 1;
              color: $brand-dark-grey;
            }
            &:last-of-type a {
              border-bottom: none;
            }
          }
        }
      }
    }
    .contact {
      padding: 2rem;
      font-size: $fontSize * 1.2;
      text-align: center;
    }
  }
  .scrolled .mobileMenu {
    color: $brand-mid-grey;
  }
  .col.nav {
    display: block !important;
    box-shadow: 0 15px 15px -10px hsla(0, 0%, 0%, 0.75);
  }
  /*---CONTENT---*/
  .hero {
    .container {
      .company-title {
        img {
          max-width: 8rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  .services {
    .services-container {
      .services-tab {
        margin-bottom: 0;
        .tab {
          padding: 1rem;
          img {
            margin-bottom: 0;
            height: 2rem;
          }
          span,
          br {
            display: none;
          }
          &.selected {
            &:before {
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 52%) rotate(45deg);
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
    .services-content-container {
      padding: 3rem 0;
      .services-tab-content {
        justify-content: flex-start;
        align-items: top;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: $fastEffect;
        .content {
          width: 100%;
        }
        &.selected {
          visibility: visible;
          opacity: 1;
          transition: $fastEffect;
        }
        h3 {
          margin-top: 0;
          text-transform: uppercase;
        }
      }
    }
  }
  .overview-block-container .overview-block {
    padding: 1rem;
  }
  #case-studies {
    h2 {
      margin-bottom: 2rem;
    }
  }
  .gallery {
    .img-wrapper {
      grid-column: span 6 !important;
    }
  }

  #contact {
    padding-top: 5rem;
    > .container {
      padding: 2rem;
    }
  }
  #contact_form {
    width: 100%;
  }
  /*---FOOTER---*/
  footer .socket .colophon {
    justify-content: center;
  }
  #regulated {
    margin-bottom: 1rem !important;
  }
} /*---end small mq---*/

/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
  /*---GLOBALS---*/
  .button {
    padding: 0.8rem 1.5rem;
  }

  /*---HEADER---*/
  .hero {
    padding-top: 5.5rem;
    .container {
      h1 {
        font-size: 1.8rem;
        font-weight: 300;
      }
      h2 {
        font-size: 1.4rem;
      }
      h3 {
        font-size: 1.4rem;
      }
      .company-title {
        img {
          max-width: 8rem;
          margin-bottom: 2rem;
        }
      }
      .company-copy {
        margin-top: 3vh;
        margin-bottom: 3vh;
      }
    }
  }

  /*---CONTENT---*/

  /*---FOOTER---*/
} /*---end extra small mq---*/

/*===========MAPBOX (640px)==========*/

@media screen and (max-width: 640px) {
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    width: 240px;
    max-width: 360px;
    font-size: 15px;
    line-height: 20px;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    top: 8px;
    left: 7px;
    width: 20px;
    height: 20px;
  }

  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: 3px;
    margin-right: 0;
    width: 16px;
    height: 16px;
  }

  .mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px;
  }
} /*---end mapbox mq---*/
