/*! == MEDIA QUERIES == */

/*===========LARGE (1200px)==========*/

@media only screen and (max-width: 1200px) {

/*---GLOBALS---*/ 

/*---HEADER---*/ 
.container{
	&.cols-lg-6-12-6{
        >.col:nth-of-type(3n - 2) {
            grid-column: span 6;
        }
        >.col:nth-of-type(3n -1) {
            grid-column: span 12;
        }
        >.col:nth-of-type(3n) {
            grid-column: span 6;
        }
	}
}

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end large mq---*/


/*===========MEDIUM (992px)==========*/

@media only screen and (max-width: 992px) {
  
/*---GLOBALS---*/ 

body {
    font-size: $fontSize*0.9;
}
.hide-md{
	display: none !important;
}

.container{
	&.cols-md-6-18{
        >.col:nth-of-type(3n - 2) {
            grid-column: span 6;
        }
        >.col:nth-of-type(3n -1) {
            grid-column: span 18;
        }
	}
}
 
/*---HEADER---*/

/*---CONTENT---*/
.hero{
	.container{
		h1{
			font-size:$fontSize*1.6;
		}
		h3{
			font-size:$fontSize*1.8;
		}
	}
}

.overview-block-container{
	margin-bottom: 2rem;
}
/*---FOOTER---*/

}/*---end medium mq---*/


/*===========SMALL (768px)==========*/

@media only screen and (max-width: 768px) {

/*---GLOBALS---*/

body {
    font-size: $fontSize*0.8;
}

.visible-sm{
	display: block !important;
}

.container{
	&.cols-sm >.col{
        grid-column: span 24 !important;
    }
    &.cols-sm-offset2-20{
    	>.col {
            grid-column-start:3;     
            grid-column-end:23;     
        }   
    }
	&.no-sm-gutter{
		grid-gap: 0;
	}
}

.text-center-sm{
	text-align: center;
}

blockquote{
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-size: $fontSize*0.8;
	line-height: $fontSize*1.2;
	&:before, &:after{
		font-size: 3rem;
	};
	&:before{
		top:0rem;
		left: -2rem;
	};
	&:after{
		bottom:2rem;
		right: -2rem;
	};
}

/*---HEADER---*/
header{
	transition: $slowEffect;
	.mobileMenu{
		position: absolute;
		display: flex;
		top: 0rem;
		right: 1rem;
		height: 5rem;
		font-size:$fontSize*2;
		align-items: center;
		cursor: pointer;
		padding: 1rem;
	}
	background:white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    a{
    	color: $brand-dark-grey;
    }
    #logo{
    	height: 5rem;
    }
	nav{
		display: none;
		border-right: none;
		background-color: white;
		.mainMenu{
			ul{
				display: block;
				width:100%;
				li{
					display: block;
					a{
						color: $brand-dark-grey;
						width: 100%;
						padding: 2rem;
						border-bottom: 1px solid $brand-mid-grey;
						font-size:$fontSize*1.2;
					}
				}
			}
		}
	}
	.contact{
		text-align: center;
		font-size:$fontSize*1.2;
		padding: 2rem;
	}
}



/*---CONTENT---*/
  
/*---FOOTER---*/
footer 
	.socket .colophon{
		justify-content: center;
	}
	.col{
		margin-bottom: 1rem;
	}
	#regulated{
		margin-bottom: 1rem !important;
	}
}/*---end small mq---*/


/*===========EXTRA SMALL (576px)==========*/

@media only screen and (max-width: 576px) {
  
/*---GLOBALS---*/
.button{
	padding: 0.8rem 2rem;
}

/*---HEADER---*/

/*---CONTENT---*/

/*---FOOTER---*/

}/*---end extra small mq---*/


/*===========MAPBOX (640px)==========*/

@media screen and (max-width: 640px) {
	
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
	width: 240px;
	font-size: 15px;
	line-height: 20px;
	max-width: 360px;
}

.mapboxgl-ctrl-geocoder--icon-search {
	top: 8px;
	left: 7px;
	width: 20px;
	height: 20px;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 0;
}

.mapboxgl-ctrl-geocoder--input {
	height: 36px;
    padding: 6px 35px;
}
	
}/*---end mapbox mq---*/