/*! == THEME STYLES == */

/*===========GLOBAL==========*/

/*===========HEADER==========*/
header{
	height: $headerHeight;
	.container{
		min-height:100%;
		>.col{
			display: grid;
			align-items: center;
		}
	}
}

/*===========BODY==========*/
.hero{
	color: white;
	.container{
		width: 80%;
		text-align: center;
		align-content: center;
		h1{
			font-size:3.5rem;
			letter-spacing: 6px;
			font-family: $body-font;
			font-weight:300;
			text-transform: uppercase;
		}
		h2{
			font-size:1.4rem;
			letter-spacing: 4px;
			font-family: $body-font;
			text-transform: uppercase;
			margin:0;
		}
		h3{
			font-size:3rem;
			letter-spacing: 2px;
			font-family: $body-font;
			font-weight:300;
			text-transform: uppercase;
		}
		.company-copy{
			margin-top: 10vh;
			margin-bottom: 10vh;
		}
	}
	#scroll-icon{
		position:relative;
		span{
			content:'';
			display: block;
			width: 30px;
			height: 30px;
			border-left: 3px solid white;
			border-bottom: 3px solid white;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateY(-50%) rotate(-45deg);
			transition: $fastEffect;
			&:hover{
				cursor:pointer;
				top:10px;
				transition: $fastEffect;
			};
		}
	}
}

/*===========FOOTER==========*/
