/*! == VARIABLES == */

$brand-primary: hsl(73, 14%, 61%); //Mid Green
$brand-primary-light: hsl(73, 11%, 75%); // Light Green
$brand-primary-dark: hsl(73, 11%, 30%); //Dark Green
$brand-secondary: hsl(223, 71%, 13%); //Dark Blue
$brand-tertiary: hsl(37, 100%, 50%);
$brand-light-grey: hsl(0, 0%, 80%);
$brand-mid-grey: hsl(0, 0%, 50%);
$brand-dark-grey: hsl(0, 0%, 15%);
$body-bg: hsl(0, 0%, 100%);

$brand-font: "operetta-12", serif;
$body-font: "zeitung", sans-serif;
$supporting-font: "zeitung-micro", sans-serif;

$fastEffect: all 0.5s ease;
$slowEffect: all 1s ease;

$container-width: 1400px;
$col-count: 24;
$grid-gap: 0;

$breakpoints: (
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 350px
);

$brandBorderWidth: 1px;
$brandBorderColor: $brand-primary;
$brandBorderStyle: solid;

$contentPadding: 2em 3em;
